h2 {
    color: #ff4d00;
}

body {
    background-color: #fc9; 
  }

div {
    width: 350%;
    padding:20px;

  }

.middle{
    width: 100%;
}

.bod {
    border: 0;
}

* {
    padding: 0;
    margin: 0;
}

.TOP {
    float: left;
    margin-left: none;
}
 
.top ul{
    float: left;
    margin-left:20px;
}

.top ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.top ul li a{
    text-decoration: none;
    color: rgb(0, 17, 255);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}